@import '../variables.scss';
@import '../base.scss';

.firstSection {
    height: 100vh;
    background-image: url(../../assets/kanapa.jpg);
    @include standardBgPosition();
    padding-top: 25vh;
    padding-left: 5vw;

    @media all and (min-width: 700px) {
        padding-top: 25vh;
        padding-left: 10vw;
    }
    
    @media all and (min-width: 960px) {
        padding-left: 20vw;
    }
    button {
        @include primaryButton();
        margin: 0.5rem;
        width: 250px;
        font-size: 1rem;

        &:hover {
            background-color: rgba(0,0,0,1);
        }
        
    }
    .resign {
        background-color: rgba($secondaryColor, .5);
        color: $primaryColor;
        &:hover {
            background-color: rgb($secondaryColor, .8);
        }
    }
    p {
       font-weight: 700;
    }

}